<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="false"
         cacheDirectory=".tmp/cache">

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <logging>
        <junit outputFile=".tmp/results/junit.xml"/>
        <teamcity outputFile=".tmp/results/teamcity.txt"/>
        <testdoxHtml outputFile=".tmp/results/testdox.html"/>
        <testdoxText outputFile=".tmp/results/testdox.txt"/>
    </logging>

</phpunit>
